@media screen and (max-width:479px) {
    
    .header{
        width:200px;
        height:250px;
    }

    .h-contents{
        position:relative;
        top:45px;
        left:70px;
    }

    .h-contents-1{
        border-right:10px solid white;
        border-bottom:none;
        float:none;
    }

    .h-contents-2{
        float:none;
    }
    
    .h-contents-3{
        border-top:none;
        border-left:10px solid white;
        float:none;
    }

    .m-left{
        width:200px;
        height:150px;
    }

    .m-right{
        width:200px;
        height:210px;
    }

    .mr-contents{
        position:relative;
        top:20px;
        left:30px;
    }

    .footer{
        width:200px;
        height:150px;
    }
}