.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

 .box{
     display:flex;
 }

.header{
    background-color: #141f40;
    width:400px;
    height:100px;
}

.left{
    background-color: #80bfa8;
    width:150px;
    height:250px;
    float:left;
}

.right{
    float:left;
}


.right-top-left{
    float: left;
}

.right-1{
    background-color: #dbd400;
    width:150px;
    height:50px;
}

.right-2{
    background-color: #0093b7;
    width:150px;
    height:100px;
}

.right-3{
    background-color: #ff9e6b;
    width:100px;
    height:150px;
    float:left;
}

.right-4{
    background-color: #8c2727;
    width:250px;
    height:100px;
}
    
.footer{
    background-color: #d98d30;
    width:400px;
    height:100px;
}